[program:nsq-to-file]

user={{ nsq_nsqd_user }}

command={{ nsq_to_file_cmd }}
    -channel "{{ nsq_to_file_channel }}"
    -filename-format "{{ nsq_to_file_filename_format }}"
{% if nsq_to_file_use_gzip %}
    -gzip
    -gzip-level {{ nsq_to_file_gzip_level | default('6') }}
{% endif %}
{% if use_ip %}
    {% for host in groups[nsq_nsqlookupd_role] -%}
        --lookupd-http-address {{ hostvars[host]['ansible_' + nsq_nsqlookupd_interface]['ipv4']['address'] }}:{{ nsq_nsqlookupd_http_port }}
    {% endfor -%}
{% else %}
    {% for host in groups[nsq_nsqlookupd_role] -%}
        -lookupd-http-address {{ host }}:{{ nsq_nsqlookupd_http_port }}
    {% endfor -%}
{% endif %}
    -output-dir "{{ nsq_data_path }}"
    -rotate-size {{ nsq_rotate_size }}

stdout_logfile=/var/log/nsq-to-file.log
stderr_logfile=/var/log/nsq-to-file.log
